**/.dockerignore
**/Dockerfile**
**/Dockerfile.*
**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/.git/
**/.gitignore
**/README.md
**/MARKDOWN.md
**/logs/
**/*.pdb
**/*.dll
**/*.exe
**/appsettings.Development.json
**/appsettings.Local.json
